In [1]:
import pandas as pd

In [40]:
file1 = pd.read_csv('Gprep-xgb-default.csv')
file2 = pd.read_csv('linear_discriminant_two.csv')
file3 = pd.read_csv('logit-regression-ag.csv')
file4 = pd.read_csv('Output_Adaboost_python.csv')
file5 = pd.read_csv('Output_RandomForest.csv')

In [41]:
consolidated = pd.concat([file1,file2.target,file3.target,file4.target,file5.target],axis=1)

In [42]:
consolidated.columns=['id','target1','target2','target3','target4','target5']

In [43]:
consolidated.head()

   id   target1   target2   target3   target4   target5
0   0  0.067141  0.069199  0.029488  0.061041  0.133641
1   1  0.129683  0.076851  0.037581  0.086839  0.096774
2   2  0.079207  0.071369  0.026179  0.097693  0.057604
3   3  0.077450  0.053108  0.019950  0.061041  0.062212
4   4  0.072765  0.084085  0.035306  0.097693  0.306452

In [44]:
num_of_files = 5

In [45]:
consolidated['target'] = ( consolidated.target1 + \
                        consolidated.target2 + \
                        consolidated.target3 + \
                        consolidated.target4 + \
                        consolidated.target5 ) / num_of_files

In [46]:
consolidated.head()

   id   target1   target2   target3   target4   target5    target
0   0  0.067141  0.069199  0.029488  0.061041  0.133641  0.072102
1   1  0.129683  0.076851  0.037581  0.086839  0.096774  0.085546
2   2  0.079207  0.071369  0.026179  0.097693  0.057604  0.066411
3   3  0.077450  0.053108  0.019950  0.061041  0.062212  0.054752
4   4  0.072765  0.084085  0.035306  0.097693  0.306452  0.119260

In [47]:
consolidated[['id','target']].to_csv('combinedOutputs.csv',index=None)